**/.git
**/.gitignore
**/node_modules
**/target
**/dist
**/.next
**/.env
**/.env.local
**/*.log
**/minio_data
**/dynamodb_data
**/.vscode
**/.idea
**/coverage
**/*.md
**/docs
**/*.tsbuildinfo
**/terraform
**/lambda
**/localstack
